@page "/About"

<PageTitle>About</PageTitle>

<h1>Placeholder Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aspernatur, voluptatibus earum error eligendi nihil odio, natus dolor quae non sapiente quidem doloribus. Praesentium perspiciatis quo nostrum, voluptatum quis veritatis. </h1>

